Timo Tijhof <krinkle@fastmail.com> <krinklemail@gmail.com>
Siebrand Mazeland <s.mazeland@xs4all.nl> <smazeland@wikimedia.org>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@wikimedia.org>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@kitano.nl>
Siebrand Mazeland <s.mazeland@xs4all.nl> <l10n-bot@translatewiki.net>
Jarry1250 <jarry1250@gmail.com>
Federico Leva <federicoleva@tiscali.it>
Kaldari <kaldari@gmail.com>
Kaldari <kaldari@gmail.com> <rkaldari@wikimedia.org>
André Costa <lokal.profil@gmail.com>
Eran Roz <eranroz89@gmail.com>
MusikAnimal <musikanimal@gmail.com> <MusikAnimal@users.noreply.github.com>
